body {
    box-sizing: border-box;
    background: #333;
    padding: 0;
    margin: 0 auto;

    image-rendering: pixelated;

    transform: translateY(25%) translateX(25%);
}

#dog {
    font-size: larger;
    background-color: aliceblue;
    z-index: 8;
    transform: translateY(515%) translateX(25%);
}